{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>Django Recognizer</title>
</head>

<body>
  {% if post %}
  <img width="400px" height="250px" src="{% get_media_prefix %}{{ img1src }}"><br><br>
  <h1>This is {{ Class }}</h1>

  {% else %}
  <form name="" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <strong> 분류할 이미지를 선택하세요 </strong>
    <div>
      <input type="file" required="required" accept=".png,.jpg"  id="image1" name="file1"
        aria-describedby="inputGroupFileAddon01">
    </div>
    <div>
      <button> Upload </button>
    </div>
  </form>
  {% endif %}
</body>

</html>